{include file='../template/admin/common/head.html'}
<div class="container">
	<!-- 文章编辑 -->
	<div class="content">
		<div class="content_title">
			文章编辑
		</div>
		<div class="content_content">
			<div class="post_edit_form">
				<form action="{:url('admin/common/newMessage',['type'=>'post'])}" method="post">
					<!-- 文章分类 -->
					<div class="form-group">
						文章分类：
						<select name="cates_id" class="form-control">
							{foreach $cateArr as $cates}
								<option value="{$cates.id}">{$cates.name}</option>
							{/foreach}
						</select>
						
					</div>
					<!-- 文章标题 -->
					<div class="form-group">
						<input type="text" name="title" class="form-control">
					</div>
					<!-- 文章链接 -->
					<div class="post_edit_url">
						预计链接：
						<a href='javascript:' class="btn">http://{$_SERVER['HTTP_HOST']}{$postUrl}</a>
					</div>
					<!-- 文章内容 -->
					
					<div class="post_edit_content">
						<!-- 百度富文本 -->
						 <script id="container" name="content" type="text/plain"></script>
					</div>
					<div class="form-group">
						标签(用英文逗号分隔)：
						<input type="input" name="tags" class="form-control">
					</div>
					<hr>
					<!-- SEO部分 -->
					<div class="form-group">
						seo标题：
						<input type="text" name="seo_title" class="form-control">
					</div>
					<div class="form-group">
						seo关键字(用英文逗号分隔)：
						<input type="text" name="seo_keywords" class="form-control">
					</div>
					<div class="form-group">
						seo描述：
						<textarea name="seo_description" class="form-control"></textarea>
					</div>
					<!-- 提交按钮 -->
					<div class="form-group">
						<input type="submit" class="btn btn-success" value="提交" >
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var ue = UE.getEditor('container',{
		initialFrameHeight:500
	});
</script>
</body>
</html>